@page "/"

<PageTitle>Home</PageTitle>

<div class="home-background">
    <div class="home-background">
        <div class="home-text">
            <h1>Lagersystem i C#</h1>
            <h2>Udviklet med Blazor og MSSQL</h2>
        </div>
    </div>
</div>