@page "/"

<PageTitle>Home</PageTitle>

<div class="home-background">
    <div class="home-background">
        <div class="home-text">
            <h1>GeoMas & The SteJannies</h1>
            <h2>Effektiv lagerstyring til din virksomhed</h2>
        </div>
    </div>
</div>