@page "/order"

<PageTitle>Order</PageTitle>

<div class="outer-container">
    <h4>Ordre Oversigt</h4>

    <!-- Label Row -->
    <div class="row filter-labels">

        <div class="col-2">
            <small class="text-muted">Sorter tabel efter</small>
        </div>

        <div class="col-8">
        </div>

        <div class="col-2">
            <small class="text-muted">Antal Ordre pr. Side</small>
        </div>

    </div>

    <!-- Filter Row -->
    <div class="row order-filters">

        <div class="col-2">
            <select class="form-select">
                <option>CustomerId</option>
                <option>OrderDate</option>
                <option>TotalPrice</option>
            </select>
        </div>

        <div class="col-6">
            <input class="form-control" placeholder="Søg efter kunde id..." />
        </div>

        <div class="col-2">
            <button class="btn btn-primary w-100">
                Søg
            </button>
        </div>

        <div class="col-2">
            <select class="form-select">
                <option>5</option>
                <option>10</option>
                <option>25</option>
                <option>50</option>
            </select>
        </div>

    </div>

    <!-- Product Table -->
    <div class="table-container">

        <table class="table table-striped table hover">
            <thead class="table-primary">
                <tr>
                    <th>CustomerId</th>
                    <th>OrderDate</th>
                    <th>TotalPrice</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <!-- Add Table Body later -->
            <tbody>
            </tbody>
        </table>

    </div>

    <!-- Pageination Section -->
    <div class="pagination-container">

        <!-- Page Info Row -->
        <div class="row">

            <div class="col-4">
                <span>Side 1 ud af 5</span>
            </div>

            <div class="col-4 text-center">
                <span class="page-label">Side</span>
            </div>

            <div class="col-4"></div>

        </div>

        <!-- Navigation Buttons -->
        <div class="row-mt-2">

            <div class="col text-center">

                <button class="btn btn-outline-secondary btn-sm">
                    <span class="bi bi-chevron-double-left"></span>
                </button>

                <button class="btn btn-outline-secondary btn-sm ms-1">
                    <span class="bi bi-chevron-left"></span>
                </button>

                <span class="page-number">1</span>

                <button class="btn btn-outline-secondary btn-sm ms-1">
                    <span class="bi bi-chevron-right"></span>
                </button>

                <button class="btn btn-outline-secondary btn-sm ms-1">
                    <span class="bi bi-chevron-double-right"></span>
                </button>

            </div>

        </div>

    </div>

</div>