@inherits LayoutComponentBase
@inject NavigationManager Navigation;

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex jusity-content-end">
            <NavLink class="btn btn-primary" href="login">
                Login
            </NavLink> 
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>